@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap");
body {
  margin: 0;
  padding: 0; }

button {
  outline: none; }

::-webkit-scrollbar {
  width: 3px;
  height: 3px; }

::-webkit-scrollbar-track {
  background: #F6F6F6;
  border-radius: 20px; }

::-webkit-scrollbar-thumb {
  background: #070707;
  border-radius: 20px; }

.container {
  width: 100%;
  max-width: 974px;
  margin: 0 auto; }

.header {
  padding: 0 30px;
  margin-bottom: 105px;
  position: relative; }
  .header__navs {
    border-bottom: 1px solid  #828282;
    display: block; }
    .header__navs ul {
      margin: 0;
      padding: 33px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .header__navs ul li {
        list-style: none; }
        .header__navs ul li a {
          text-decoration: none;
          font-family: Khula;
          font-size: 18px;
          font-weight: bold;
          line-height: 22px;
          white-space: nowrap;
          color: #828282; }
          .header__navs ul li a:hover {
            color: #070707; }
  .header__burgerMenu {
    height: 0;
    transition: .3s;
    overflow: hidden; }
    .header__burgerMenu.active {
      height: 0; }
    .header__burgerMenu_flex {
      display: flex;
      justify-content: space-between;
      align-items: top; }
    .header__burgerMenu ul {
      margin: 0;
      padding: 0 30; }
      .header__burgerMenu ul li {
        list-style: none;
        margin-bottom: 68px; }
        .header__burgerMenu ul li:last-child {
          margin-bottom: 0; }
        .header__burgerMenu ul li a {
          text-decoration: none;
          font-family: Khula;
          font-size: 18px;
          font-weight: bold;
          line-height: 22px;
          white-space: nowrap;
          color: #828282; }
          .header__burgerMenu ul li a:hover {
            color: #070707; }
    .header__burgerMenu_language {
      position: absolute;
      height: 0;
      overflow: hidden;
      font-family: "Khula";
      font-weight: bold;
      font-size: 34px;
      line-height: 42px;
      color: #828282;
      transform: rotate(90deg); }
      .header__burgerMenu_language button {
        font-family: "Khula";
        font-weight: bold;
        font-size: 34px;
        line-height: 42px;
        color: #828282;
        border: none;
        padding: 0;
        margin: 0;
        background: transparent; }
        .header__burgerMenu_language button.active {
          color: #000; }
        .header__burgerMenu_language button:hover {
          cursor: pointer;
          color: #000; }
  .header button.closeBurger {
    display: none;
    position: absolute;
    top: 69px;
    right: 30px; }
  .header button.openBurger {
    display: none;
    position: absolute;
    top: 69px;
    right: 30px; }
  .header button.closeBurger,
  .header button.openBurger {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent; }
    .header button.closeBurger:hover,
    .header button.openBurger:hover {
      transition: .3s;
      cursor: pointer; }
      .header button.closeBurger:hover svg,
      .header button.openBurger:hover svg {
        fill: #000; }
    .header button.closeBurger svg,
    .header button.openBurger svg {
      fill: #828282; }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 37px 0 30px 0;
    align-items: center; }
  .header__name {
    font-family: "Khula";
    font-weight: bold;
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707; }
  .header__description {
    font-family: "Khula";
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #070707; }
  .header__language {
    display: block;
    font-family: "Khula";
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    margin-right: -34px; }
    .header__language button {
      padding: 0;
      border: none;
      background: transparent;
      margin: 0 5px;
      color: #828282; }
      .header__language button.active {
        color: #000; }
      .header__language button:hover {
        cursor: pointer;
        color: #000; }
    .header__language_btn {
      font-family: "Khula";
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: #828282; }
  .header__image {
    height: 387px; }
    .header__image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 10%; }

.about {
  background: #f6f6f6;
  padding: 120px 30px 107px 30px; }
  .about__wrapper {
    width: 100%;
    margin-bottom: 485px;
    margin: 0 auto; }
  .about__title {
    font-family: "Khula";
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #070707;
    line-height: 42px; }
  .about__text {
    font-family: "Khula";
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
    margin-bottom: 50px; }
    .about__text:last-child {
      margin-bottom: 0; }

.skills {
  padding: 99px 0 110px 0; }
  .skills__title {
    font-family: Khula;
    font-size: 34px;
    font-weight: bold;
    line-height: 42px;
    text-align: center;
    color: #070707; }
  .skills__subTitle {
    font-family: Khula;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
    margin-top: 70px;
    font-weight: 600; }
  .skills__cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 30px; }
  .skills__card {
    text-align: center;
    margin-top: 84px;
    padding: 0 15px; }
    .skills__card_name {
      font-family: "Khula";
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #828282;
      max-width: 80px;
      min-height: 33px;
      margin: 22px auto 40px; }

.portfolio {
  background: #f6f6f6;
  padding: 112px 0 0 0; }
  .portfolio__title {
    font-family: "Khula";
    font-weight: bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    margin-bottom: 47px; }
  .portfolio__cards {
    padding: 0 30px; }
  .portfolio__card {
    padding-bottom: 96px; }
    .portfolio__card_image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%; }
    .portfolio__card_link {
      margin-top: 45px;
      text-align: center; }
      .portfolio__card_link a {
        font-family: "Khula";
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-decoration-line: underline;
        color: #070707; }

.footer {
  padding: 114px 30px 123px 30px;
  text-align: center; }
  .footer__title {
    font-family: "Khula";
    font-weight: bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707; }
  .footer__subTitle {
    font-family: "Khula";
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
    max-width: 275px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px; }
  .footer button.footer__buttonSend {
    padding: 13px 30px 7px;
    border-radius: 30px;
    border: none;
    margin: 0 auto;
    background: #070707;
    font-family: "Khula";
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 85px;
    cursor: pointer; }
  .footer__socials {
    width: 100%;
    max-width: 345px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; }
    .footer__socials a {
      text-decoration: none; }
  .footer__description {
    font-family: "Khula";
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    margin-top: 45px; }

@media (max-width: 425px) {
  .header__navs {
    display: none; }
  .header__burgerMenu.active {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    padding: 66px 0 0 0;
    height: calc(100vh - 66px);
    background: #fff; }
    .header__burgerMenu.active .header__burgerMenu_language {
      bottom: 114px;
      right: -24px;
      height: auto; }
    .header__burgerMenu.active button.closeBurger {
      display: block; }
  .header__wrapper {
    padding-top: 66px;
    display: block; }
  .header__description {
    margin-top: 15px; }
  .header button.openBurger {
    display: block; }
  .header__language {
    display: none; }
  .header__image {
    height: 478px; }
  .portfolio__card {
    padding-bottom: 80px; }
  .footer {
    padding: 82px 30px 90px 30px; }
    .footer button.footer__buttonSend {
      margin-top: 9px;
      margin-bottom: 48px;
      width: 100%; } }
